* {
    margin: 0;
    padding: 0;
    background-color: #b0cfe2;
}

#logo {
    border: none;
    width: 50px;
}
.with-slider header {
    height: 72px
}
footer{
  background-color: #b0cfe2;
}
footer a {
    text-decoration: none
}

#site-header {
    width: 1200px;
    margin: 0 auto
}

.site-title {
    float: left;
    padding: 6px 358px 0px 0px;
    margin-left: 10px;
}

.site-title h1 {
    text-transform: uppercase;
    padding: 1px 0 0 3px;
    display: inline-block
}

.site-title a {
    font: 40px 'Aref Ruqaa';
    color: #3d4346
}

.site-nav ul {
    list-style: none
}

.site-nav li {
    position: relative
}

.site-nav>ul>li {
    float: left
}

.site-nav a {
    color: #566266;
    padding: 24px 20px 32px;
    display: block;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.site-nav>ul>.homepage>a {
    background: #f1f1f1;
    border-bottom: 4px solid #008CFF;
    color: #566266;
    padding-bottom: 28px
}

.site-nav li:hover>a {
    color: #a8abb0
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 200
}

.sub-menu a {
    background: #f1f1f1;
    border: 1px solid #cdcdcd;
    min-width: 130px;
    padding: 24px 20px;
    margin-top: -1px
}

.site-nav li:hover>.sub-menu {
    display: block
}
body{
    height: 100%;
}
.gebruikersveld {
    background: url('../images/dropdown.png') right 34px no-repeat #fff;
    cursor: pointer;
    float: right;
    position: relative;
    margin-right: 40px;
    top: 30px;
    height: 74px
}

.avatar {
    width: 40px;
    height: 40px;
    position: relative;
    top: 16px;
    padding-right: 7px
}

.gebruikersveld p {
    font: 14px OpenSans;
    color: #666;
    display: inline-block;
    padding-right: 25px
}

.gebruikersveld span {
    font: 14px OpenSans-Bold
}

#site-footer {
    width: 1200px;
    margin: 0 auto;
}
#site-footer a{
  text-decoration: none;
}


/* Site content */
#site-frame{
  height: 560px;
}
